src/gate/resources/creole/schema/SyntaxTreeNodeSchema.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
	<!-- XSchema deffinition for syntaxTreeNode-->
	<element name="syntaxTreeNode">
		<complexType>
			<attribute name="time" type="integer" use="required"/>
			<attribute name="text"  type="string"  use ="required"/>
			<attribute name="cat" use="default" value="N">
				<simpleType>
					<restriction base="string">
						<enumeration value="N"/>
						<enumeration value="PropN"/>
						<enumeration value="ADJ"/>
						<enumeration value="DET"/>
						<enumeration value="VTRANS"/>
						<enumeration value="PREP"/>
						<enumeration value="V"/>
						<enumeration value="ADV"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="leftChild"   type="IDREF" use="optional"/>
			<attribute name="rightChild" type="IDREF" use="optional"/>
			<attribute name="id" type="ID" use="optional"/>
		</complexType>
	</element>
</schema>
